:root {
    --navyblue-color-text:#2E2F42;
    --iris-color-text:#4D5AE5;
    --color-white:#FFFFFF;
    }

body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    line-height: 1.6;
    background-color: var(--color-white)
}

header {
    background-color: var(--color-white);
}

a {
    text-decoration: none;
}

button {
    color:var(--color-white);
    background-color: var(--iris-color-text);
}

a:hover,
button:hover {
    background-color: #404BBF;
}

a:hover,
button:hover {
    color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color:#4d5ae5;
}

.list {
    list-style: none;
}



.highlight {
    color: var(--iris-color-text);
}

.studio-highlight {
    color: #2e2f42;
}

.pointer {
    cursor: pointer;
}



.header-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--navyblue-color-text);
}

class= "buttons"
.buttons {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color-text);
    background-color: #F4F4FD;
    }

.page-footer {
    background-color:#2e2f42;
    .studio-highlight {
        color: #F4F4FD; }
            }
    p {
        font-size: 16px;
        color:#F4F4FD;
    }