:root {
    --navyblue-color-text:#2E2F42;
    --iris-color-text:#4D5AE5;
    --color-white:white;
    
    }

body {
    font-family: 'Roboto', 'Raleway', 'Verdana', sans-serif;
    color:#434455;
    line-height: 1.6;
}

header {
    background-color: var(--color-white);
}

a {
    text-decoration: none;
}

button {
    color:var(--color-white);
    background-color: var(--iris-color-text);
}

a:hover, button:hover {
    color: white;
    background-color: #404BBF;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--navyblue-color-text);
}

.highlight {
    color: var(--iris-color-text);
}

.logo .link {
    color: #434455
}

.logo .link:hover {
    color: #404BBF;
}