:root {
    --first-color-text:#000;
    --second-color-text:#333;
    --color-white: white;
    iris:#4D5AE5;

}


body {
    font-family: 'Roboto', 'Raleway', 'Verdana', sans-serif;
    color:#434455;
    line-height: 1.6;
}

header {
    background-color: var(--color-white);
}

a {
    text-decoration: none;
}

button {
    color:var(--color-white);
    background-color: var(--iris);
}

a:hover, button:hover {
    color: orange;
}
.logo {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color:#4D5AE5;
    color:var(--first-color-text);
    font-weight: 800;
}

.logo .highlight {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--second-color-text);
    font-weight: 800;
}
